#lista{
    list-style:none;
}
body{
	background-color: #598588;
}
h1{
	text-align: center;
	font-family: Vegur, 'PT Sans', Verdana, sans-serif;
	-webkit-text-stroke: 2px black;
	color: transparent; 
	font-size: 60px;
	padding-bottom: 80px;
	color:rgb(200, 241, 252);

}
#formulario {
    margin-top: 30px;
    position: relative;
    left: 50%;
    transform: translateX(-53%);
}
label {
	display: inline-block;
    width: 150px;
    font-size: 15px;
    text-align: left;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    color:rgb(200, 241, 252);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
	color: transparent; 
}
input {
	height: 25px;
	width: 230px;
    border-radius: 5px;
    margin-top: 5px;
}
input[type=file] {
    margin-left: 1px;
    border: none;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    height: 20px;
}
input[type=submit] {
    margin-left: 1px;
    border: none;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
	height: 25px;
    width: 230px;
    color:rgb(200, 241, 252);
    -webkit-text-stroke: 1px rgb(255, 253, 253);
    color: transparent; 
    background-color: #2d4344;
}
#total {
	margin-top: 40px;
	text-align: center;
}
p{
    font-size: 20px;
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    text-align: center;
}