# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\Eva\Downloads\Proyecto_3T_E1_JFX-20210124T221804Z-001\Proyecto_3T_E1_JFX\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
